<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asa" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASA" >
        <activity
            android:name=".HasilActivity2"
            android:exported="true" />
        <activity
            android:name=".SalahActivity2"
            android:exported="true" />
        <activity
            android:name=".BenarActivity2"
            android:exported="true" />
        <activity
            android:name=".MtkActivity2"
            android:exported="true" />
        <activity
            android:name=".LevelActivity2"
            android:exported="true" />
        <activity
            android:name=".PelajaranActivity2"
            android:exported="true" />
        <activity
            android:name=".KelasActivity2"
            android:exported="true" />
        <activity
            android:name=".BerhasilActivity2"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity2"
            android:exported="true" />
        <activity
            android:name=".LoginActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>